################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.config
/Properties/PublishProfiles
/bin/Debug/net9.0
/obj
/ECFR_Data
/bin
/dist
